/* You can add global styles to this file, and also import other style files */
:host {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }